<div class="caja">
    <!-- CAJA BLANCA-->
    <div class="container-p">
        <div class="main-buscar-datagrid">

            <h1>Mis Reservas</h1>
            <br>
            <div class="controls-main col-lg-12">
                <label for="fruit">Fecha:</label>
                <div class="controls">
                    <input class="input form-control buscar-mis-reservas" style="width: auto !important;" type="date" id="fecha-reserva">
                </div>
                <button class="bu-buscar" id="btn-buscar">
                    <span>Buscar</span>
                    <i class="bx bx-right-arrow-alt"></i>
                </button>
            </div>
            <!-- TABLA -->
            <div class="datagrid">
                <table >
                    <thead style="background-color:  #6ab04c ;">
                        <tr>
                            <th>Ticket</th>
                            <th>Nombres Completos</th>
                            <th>Correo</th>
                            <th>Fecha</th>
                            <th>Horario</th>
                            <th>N° Personas</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${reservas.empty}">
                        </tr>
            
                        <tr th:each="Reserva : ${reservas}">
                            <td><span th:text="${Reserva.ticket}"> </span></td>
                            <td><span th:text="${Reserva.consumidor.persona.nombreCompletos}"> </span></td>
                            <td><span th:text="${Reserva.consumidor.persona.correo}"> </span></td>
                            <td><span th:text="${Reserva.horarioReserva.fecha}"> </span></td>
                            <td><span th:text="${Reserva.horarioReserva.horario}"> </span></td>
                            <td><span th:text="${Reserva.cantidadPersonas}"> </span></td>
                            <td><span th:text="${Reserva.estadoReserva.nombreEstado}"> </span></td>
                            <td class="accion">
                                <div class="text-center editar-reserva" th:if="${Reserva.estadoReserva.idEstadoReserva == 1}">
                                    <div class="btn-group">
                                        <button class="btn btn-dark btn-editar-reserva" (click)="openModalEdit()"><i
                                                class="bx bxs-edit-alt"></i></button>
                                    </div>
                                </div>
            
                                <div class="text-center -ver-reserva">
                                    <div class="btn-group">
                                        <button class="btn btn-dark btn-ver-reserva" (click)="openModalSee()"><i
                                                class="bx bx-show-alt"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
