<mat-dialog-content>
    <div class="modal-body d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/img/confirmacion.png" alt="" class="img-fluid my-2"
            style="max-width: 50%; height: 40%;">
        <h2 class="txt-modal my-2">¡Reserva Realizada!</h2>
    </div>
    <button  matDialogClose type="button" class="btn-ver btn btn-primary text-center" (click)="openTicket()">Ver ticket</button>
    <button matDialogClose type="button" class="btn-cerrar btn btn-danger" >Cerrar</button>
</mat-dialog-content>
