<div class="modal" id="modalReservaRealizada">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <!-- Modal body -->
            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                <img src="/assets/img/confirmacion.png" alt="" class="img-fluid my-5"
                    style="max-width: 50%; height: 40%;">
                <h4 class="my-4">Reserva Realizada!</h4>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-ver-ticket" data-id-reserva="">Ver ticket</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>