mat-dialog-content {
    background-color: white;
    border-radius: 5px;
  }
label, h2{
    color: black;
    text-align: center;
}
button{
    margin-top: 15px;
    left: 0%;
    width: 100px;
    margin-right: 60px;
}